.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-name {
    font-size: 1.5rem;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2rem;
    color: green;
}

.product-gender {
    font-style: italic;
    color: #777;
}

.product-description {
    color: #555;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-to-cart{
    background-color: #6e1616;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
    gap: 16px; /* Espace entre les cartes */
}
